@charset "UTF-8";
/* normalize-scss 3.0.2+normalize.3.0.2 | MIT/GPLv2 License | bit.ly/normalize-scss */
/**
 * Establish a vertical rhythm unit using $base-font-size, $base-line-height,
 * and $rhythm-unit variables. Also, correct text resizing oddly in IE 6/7 when
 * body `font-size` is set using `em` units.
 */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  *display: inline;
  *zoom: 1;
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 */
[hidden] {
  display: none;
}

/**
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
blockquote {
  margin: 1.5em 40px;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  /* Set the font-size and line-height while keeping a proper vertical rhythm. */
  font-size: 2em;
  line-height: 1.5em;
  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

h2 {
  font-size: 1.5em;
  line-height: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}

h3 {
  font-size: 1.17em;
  line-height: 1.28205em;
  margin-top: 1.28205em;
  margin-bottom: 1.28205em;
}

h4 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

h5 {
  font-size: 0.83em;
  line-height: 1.80723em;
  margin-top: 1.80723em;
  margin-bottom: 1.80723em;
}

h6 {
  font-size: 0.67em;
  line-height: 2.23881em;
  margin-top: 2.23881em;
  margin-bottom: 2.23881em;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
p,
pre {
  margin: 1.5em 0;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1.5em 0;
}

dd {
  margin: 0 0 0 40px;
}

/**
 * Address paddings set differently in IE 6/7.
 */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/**
 * Correct list images handled incorrectly in IE 7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
  /* Improve image quality when scaled in IE 7. */
  -ms-interpolation-mode: bicubic;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1.5em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Address `font-family` inconsistency between `textarea` and other form in IE 7
 * 5. Improve appearance and consistency with IE 6/7.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
  *font-family: sans-serif;
  /* 4 */
  *vertical-align: middle;
  /* 5 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */
  /**
   * Remove inner padding and search cancel button in Safari and Chrome on OS X.
   * Safari (but not Chrome) clips the cancel button when the search input has
   * padding (and `textfield` appearance).
   */
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  margin: 0 2px;
  /* Apply borders and padding that keep the vertical rhythm. */
  border-color: #c0c0c0;
  border-top-width: 0.0625em;
  border-top-style: solid;
  padding-top: 0.4625em;
  border-bottom-width: 0.0625em;
  border-bottom-style: solid;
  padding-bottom: 0.9125em;
  border-left-width: 0.0625em;
  border-left-style: solid;
  padding-left: 0.875em;
  border-right-width: 0.0625em;
  border-right-style: solid;
  padding-right: 0.875em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*
	# HTML Structure
	body
		.header-container
			.banner
				header.wrapper
					nav.main
						ul
							li
								a
									span
								ul 
									li
										a
											span
					from.search
					nav.second
						ul
							li
								a
									span
			.slideshow
		.main-container
			.main.wrapper
				nav.sidebar
					ul
						li
							a
				article
					h1
					p
				aside
					div.widget
		.prefooter-container
			.prefooter.wrapper
				p		
		.footer-container
			footer.wrapper
				p		
*/
body {
  background: #333;
}

/*
	SLIDESHOW
	basic layout of unslider slideshow
*/
.slideshow {
  position: relative;
  overflow: auto;
}
.slideshow ul {
  padding: 0;
  margin: 0;
}
.slideshow ul li {
  list-style: none;
  float: left;
  width: 100%;
  min-height: 400px;
  background-repeat: none;
  background-size: 100%;
}

/*
	NAV RESET
	After the inclusion of normalize.css, we need to re-reset margin and padding values of the nav ul & li 
*/
nav ul {
  padding: 0;
  margin: 0;
}
nav ul li {
  list-style: none;
}
nav ul li > ul {
  display: none;
}
nav ul li a {
  text-decoration: none;
  display: block;
}

/*
	IFRAME
	make every iframe, such embed youtube videos or google maps, fit the container
*/
.iframe {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}
.iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.wrapper {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.wrapper:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 992px) {
  .wrapper {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 992px;
    margin-left: auto;
    margin-right: auto;
  }
  .wrapper:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 1200px) {
  .wrapper {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .wrapper:after {
    content: " ";
    display: block;
    clear: both;
  }
}

.page .leftbar {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 12.5%;
  float: left;
  padding-left: 0.625%;
  padding-right: 0.625%;
}
.page .content {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 56.25%;
  float: left;
  padding-left: 0.625%;
  padding-right: 0.625%;
}
.page .rightbar {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 31.25%;
  float: left;
  padding-left: 0.625%;
  padding-right: 0.625%;
}

.main .container {
  position: relative;
}

#contact {
  position: absolute;
  top: 0;
  right: -120px;
}
#contact div {
  width: 120px;
  background: #ccc;
}

/*
	BANNER 
	Banner can have 3 states: 
	- "normal“: above the page
	- "over": absolute positionning, slideshow or page illustration is under the banner
	- "fixed": as "over", but stay at the top of the page
*/
.banner {
  width: 100%;
  height: 100px;
  background: rgba(0, 0, 0, 0.5);
}
.banner.over {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
}
.banner.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.header-container header {
  position: relative;
}
.header-container header nav {
  position: absolute;
  top: 0;
  right: 0;
}
.header-container header nav ul {
  background: #000;
  height: 36px;
}
.header-container header nav ul li {
  float: left;
  position: relative;
}
.header-container header nav ul li a, .header-container header nav ul li a:visited {
  display: block;
  color: #fff;
  width: auto;
  height: auto;
  line-height: 20px;
  padding: 10px;
  text-align: center;
}
.header-container header nav ul li a:hover {
  display: block;
  color: #000;
  background: #FFF;
  line-height: 20px;
  padding: 10px;
}
.header-container header nav ul li:hover ul {
  display: block;
  position: absolute;
  z-index: 9999;
  top: 36px;
  left: 0;
  height: auto;
}
.header-container header nav ul li:hover ul li {
  width: 100%;
}
.header-container header nav ul li:hover ul li a {
  display: block;
  text-align: left;
  border-bottom: 1px solid #FFF;
}
.header-container header nav ul li:hover ul:hover ul {
  display: block;
  position: absolute;
  left: 124px;
  top: 0;
}
.header-container header nav a:link, .header-container header nav a:visited {
  text-decoration: none;
  color: #FFF;
  font-weight: bold;
}

.main .featured {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  text-align: center;
}
.main .featured h3 {
  margin: 0;
  border-top: 1px solid #333;
}
.main .featured h3 a {
  margin: 10px 0;
  display: block;
  text-decoration: none;
}
.main .featured .image {
  display: block;
  position: relative;
  width: 100%;
  height: 120px;
  overflow: hidden;
}
.main .featured .image img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100px;
  width: 100px;
  transition: width .5s , height .5s;
  transform: translate(-50%, -50%);
}
.main .featured:hover {
  cursor: pointer;
}
.main .featured:hover .image img {
  width: 110px;
  height: 110px;
  transition: width .5s , height .5s;
}

.aside {
  background: #F6F6F6;
}
.aside h2 {
  text-align: center;
  margin: 0;
}
.aside .featured {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  position: relative;
  overflow: hidden;
}
.aside .featured h3 {
  width: 100%;
  margin: 0;
  position: absolute;
  z-index: 9999;
  top: 80px;
  left: 0;
  opacity: .5s;
  transition: opacity 1s;
}
.aside .featured h3 a {
  padding: 10px 0;
  text-decoration: none;
  display: block;
  text-align: center;
  background: red;
}
.aside .featured .links {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  z-index: 9999;
  padding: 20px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.5);
  transition: opacity 1s;
}
.aside .featured:hover {
  cursor: pointer;
}
.aside .featured:hover h3 {
  opacity: 0;
  transition: opacity 1s;
}
.aside .featured:hover .links {
  opacity: 1;
  transition: width 1s;
  transition: opacity 1s;
}
.aside .featured:hover .background img {
  width: 110%;
  height: 110%;
  transition: width 1s , height 1s;
}
.aside .featured .background {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.aside .featured .background img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: 100%;
  transition: width 1s , height 1s;
  transform: translate(-50%, -50%);
}

.prefooter-container {
  background: #333;
}
.prefooter-container .columm {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 20%;
  float: left;
  padding-left: 2%;
  padding-right: 2%;
}

.footer-container {
  background: #ccc;
}
.footer-container footer {
  background: #ccc;
  text-align: center;
}
